<?xml version="1.0"?>
<config>
	<modules>
		<Mv_Megaventory>
			<version>2.0.1</version>
		</Mv_Megaventory>
	</modules>
	<crontab>
		<jobs>
			<mv_megaventory>
				<schedule>
					<cron_expr>*/5 * * * *</cron_expr>
				</schedule>
				<run>
					<model>megaventory/observer::update</model>
				</run>
			</mv_megaventory>
			<mv_megaventory_check>
				<schedule>
					<cron_expr>*/10 * * * *</cron_expr>
				</schedule>
				<run>
					<model>megaventory/observer::checkOrderSynchronization</model>
				</run>
			</mv_megaventory_check>
		</jobs>
	</crontab>
	
    <adminhtml>
        <menu>
        	<megaventory_menu translate="title" module="megaventory">
                <title>Megaventory</title> 
                <sort_order>9999</sort_order>
  				<children>
                    <megaventorysettings>
                    	<title>Settings</title>
                    	<action>megaventory/index/index</action>
                    </megaventorysettings>
                    <megaventoryupdates>
                    	<title>Pending Updates</title>
                    	<action>megaventory/index/updates</action>
                    </megaventoryupdates>
                    <megaventorylog>
                    	<title>Log</title>
                    	<action>megaventory/index/log</action>
                    </megaventorylog>
  				</children>
            </megaventory_menu>
        </menu> 
    
    	<layout>
            <updates>
                <megaventory>
                    <file>megaventory.xml</file>
                </megaventory>
            </updates>
        </layout>
    
    </adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Mv_Megaventory before="Mage_Adminhtml">Mv_Megaventory
						</Mv_Megaventory>
					</modules>
				</args>
			</adminhtml>
			<megaventory>
                <use>admin</use>
                <args>
                    <module>Mv_Megaventory</module>
                    <frontName>megaventory</frontName>
                </args>
            </megaventory>
		</routers>
	</admin>
	<global>
		<models>
			<megaventory>
				<class>Mv_Megaventory_Model</class>
	            <resourceModel>megaventory_mysql4</resourceModel>    
			</megaventory>
			<megaventory_mysql4>
	            <class>Mv_Megaventory_Model_Mysql4</class>
	            <entities>
	                <megaventorylog>
	                    <table>megaventory_log</table>
	               </megaventorylog>
	               <inventories>
	               		<table>megaventory_inventories</table>
	               </inventories>
	               <productstocks>
	               		<table>megaventory_stock</table>
	               </productstocks>
	               <taxes>
	               		<table>megaventory_taxes</table>
	               </taxes>
	               <currencies>
	               		<table>megaventory_currencies</table>
	               </currencies>
	               <bom>
	               		<table>megaventory_bom</table>
	               </bom>
	            </entities>  
	        </megaventory_mysql4>
			<importexport>
				<rewrite>
					<import_entity_customer_address>Mv_Megaventory_Model_Import_Entity_Customer_Address</import_entity_customer_address>
				</rewrite>
			</importexport>
		</models>
        <helpers>
            <megaventory>
                <class>Mv_Megaventory_Helper</class>
            </megaventory>
        </helpers>
		<resources>
			<megaventory_setup>
				<setup>
					<module>Mv_Megaventory</module>
					<class>Mv_Megaventory_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</megaventory_setup>
			<megaventory_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </megaventory_write>
	        <megaventory_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </megaventory_read>
		</resources>
		<events>
			<catalog_category_save_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Category_Observer</class>
						<method>onCategorySave</method>
					</megaventory>
				</observers>
			</catalog_category_save_commit_after>
			<catalog_category_move_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Category_Observer</class>
						<method>onCategoryMove</method>
					</megaventory>
				</observers>
			</catalog_category_move_after>
			<catalog_category_delete_before>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Category_Observer</class>
						<method>onCategoryDelete</method>
					</megaventory>
				</observers>
			</catalog_category_delete_before>
			<catalog_product_save_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Product_Observer</class>
						<method>onProductSave</method>
					</megaventory>
				</observers>
			</catalog_product_save_commit_after>
			<model_save_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Product_Observer</class>
						<method>onMassProductUpdate</method>
					</megaventory>
				</observers>
			</model_save_after>
			<catalog_product_delete_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Product_Observer</class>
						<method>onProductDelete</method>
					</megaventory>
				</observers>
			</catalog_product_delete_commit_after>
			<customer_save_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Customer_Observer</class>
						<method>onCustomerSave</method>
					</megaventory>
				</observers>
			</customer_save_commit_after>
			<customer_delete_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Customer_Observer</class>
						<method>onCustomerDelete</method>
					</megaventory>
				</observers>
			</customer_delete_commit_after>
			<customer_address_save_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Customer_Observer</class>
						<method>onCustomerAddressSave</method>
					</megaventory>
				</observers>
			</customer_address_save_commit_after>
			<cataloginventory_stock_item_save_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Stockitem_Observer</class>
						<method>onStockSaveAfter</method>
					</megaventory>
				</observers>
			</cataloginventory_stock_item_save_after>
			<sales_model_service_quote_submit_success>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Sales_Observer</class>
						<method>onQuoteSubmitSuccess</method>
					</megaventory>
				</observers>
			</sales_model_service_quote_submit_success>
			<admin_session_user_login_success>
				<observers>
					<megaventory>
						<type>singleton</type>
						<method>onLoginSuccess</method>
						<class>Mv_Megaventory_Model_Observer</class>
					</megaventory>
				</observers>
			</admin_session_user_login_success>
			<sales_order_save_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Sales_Observer</class>
						<method>onOrderSave</method>
					</megaventory>
				</observers>
			</sales_order_save_commit_after>
			<core_block_abstract_to_html_after>
				<observers>
				<megaventory>
					<type>singleton</type>
					<class>Mv_Megaventory_Model_Product_Observer</class>
					<method>onProductMainTab</method>
				</megaventory>
				</observers>
			</core_block_abstract_to_html_after>
			<admin_user_authenticate_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Notification_Feed</class>
	                    <method>check</method>
					</megaventory>
				</observers>
			</admin_user_authenticate_after>
			<sales_order_status_history_save_commit_after>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Sales_Observer</class>
						<method>onOrderAddComment</method>
					</megaventory>
				</observers>
			</sales_order_status_history_save_commit_after>
			<catalog_product_import_finish_before>
				<observers>
					<megaventory>
						<type>singleton</type>
						<class>Mv_Megaventory_Model_Product_Observer</class>
						<method>onProductImport</method>
					</megaventory>
				</observers>
			</catalog_product_import_finish_before>
		</events>
		
		<blocks>
			<adminhtml>
				<rewrite>
					<system_convert_profile_run>Mv_Megaventory_Block_Adminhtml_System_Convert_Profile_Run</system_convert_profile_run>
					<sales_order_grid>Mv_Megaventory_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
					<catalog_product_edit_tab_inventory>Mv_Megaventory_Block_Adminhtml_Product_Edit_Tab_Megaventory</catalog_product_edit_tab_inventory>
					<catalog_product_grid>Mv_Megaventory_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
					<customer_edit_tab_view>Mv_Megaventory_Block_Adminhtml_Customer_Edit_Tab_View</customer_edit_tab_view>
				</rewrite>
			</adminhtml>
			<mv_megaventory>
				<class>Mv_Megaventory_Block
				</class>
			</mv_megaventory>
		</blocks>
	</global>
	<default>
		<megaventory>
			<general>
				<enabled>1</enabled>
			</general>
			<feed>
				<check_frequency>86400</check_frequency>
			</feed>
		</megaventory>
	</default>
</config>